<% customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.followings.count %></td>
        <td><%= customer.followers.count %></td>
        <td><%= render "public/relationships/btn", customer: customer, options: { class: "follow-link" } %></td>
        <td><%= link_to "Show", customer %></td>
      </tr>
    <% end %>