<div class="cover-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-3">下書き一覧</h1>
    </div>
    <table class="table table-bordered table-hover">
      <tr class="table-active">
        <th>投稿日</th>
        <th>料理名</th>
        <th>料理写真</th>
        <th></th>
      </tr>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to recipe.dish_name, recipe_path(recipe.id) %></td>
          <td>
            <% if recipe.image.present? %>
              <%= image_tag recipe.image, size: "100x100" %>
            <% end %>
          </td>
          <td><%= link_to "編集する", edit_recipe_path(recipe),data: {"turbolinks"=>false} %></td>
        </tr>
      <% end %>
    </table>
    <div class="d-flex justify-content-center pt-3">
      <%= paginate(@recipes) %>
    </div>
  </div>
</div>