<div class="cover-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-3">下書き一覧</h1>
    </div>
    <% @recipes.each do |recipe| %>
      <h4>投稿日</h4>
      <%= recipe.status %>
      <%= recipe.created_at.strftime('%Y/%m/%d') %>
      <i class="fa-regular fa-clock"></i>
      <%= recipe.cooking_time %>分
      <h4>難易度</h4>
      <div id="difficulty_<%= recipe.id %>"></div>
      <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#difficulty_<%= recipe.id %>');
          if (elem == null) return;

          elem.innerHTML = "";
          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            score: "<%= recipe.difficulty %>",
            readOnly: true,
          };
          raty(elem, opt);
        });
      </script>
      ❤️<%= recipe.likes.count %>いいね
      <%= link_to recipe.customer.name, customer_path(recipe.customer.id) %>
      <%= link_to recipe.dish_name, recipe_path(recipe.id) %>
      <%= recipe.explanation %>
      <% if recipe.image.present? %>
        <%= image_tag recipe.image, size: "200x200" %>
      <% end %>
      <%= link_to "編集する", edit_recipe_path(recipe),data: {"turbolinks"=>false} %>
    <% end %>
    <%= paginate(@recipes) %>
  </div>
</div>