<div class="cover-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="text-title mt-3">下書き一覧</h1>
    </div>
    <table class="table table-draft table-bordered table-hover">
      <tr class="table-active">
        <th class="text">投稿日</th>
        <th class="text">料理名</th>
        <th class="text d-none d-sm-block">料理写真</th>
        <th></th>
      </tr>
      <% @recipes.each do |recipe| %>
        <tr>
          <td class="text"><%= recipe.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to recipe.dish_name, recipe_path(recipe.id), class: "text" %></td>
          <td class="d-none d-sm-block">
            <% if recipe.image.present? %>
              <%= image_tag recipe.image, size: "100x100" %>
            <% end %>
          </td>
          <td><%= link_to "編集", edit_recipe_path(recipe),data: {"turbolinks"=>false}, class: "btn btn-success" %></td>
        </tr>
      <% end %>
    </table>
    <div class="d-flex justify-content-center pt-3">
      <%= paginate(@recipes) %>
    </div>
  </div>
</div>