<h3>会員情報編集</h3>
<%= form_with model: @customer do |f| %>
<%= f.text_field :name %>
<%= f.file_field :image, accept: "image/*" %>
<%= f.text_field :email %>
<%= f.submit '保存する', class: "btn btn-success mr-5" %>
<% end %>