<div class="container">
  <div class="row pt-2">
    <div class="col-md-8"></div>
    <div class="d-flex col-md-4 justify-content-end">
      <% if current_customer != @customer %>
        <td class=""><%= render "/public/relationships/btn", customer: @customer, options: { class: ""} %></td>
      <% else %>
        <%= link_to edit_customer_path(@customer), class: "btn btn-outline-secondary btn-block col-2 mr-3" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      <% end %>
      <% if current_customer.id == @customer.id %>
        <%= link_to "退会する", customers_unsubscribe_path(@customer.id), class: "btn btn-danger col-4" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="pr-3">
      <% if @customer.image.attached? %>
        <%= image_tag @customer.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
    </div>
    <h1 class="align-self-center"><%= @customer.name %>のページ</h1>
  </div>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="d-flex col-md-2">
      <h5>フォロー</h5>
      <%= link_to @customer.followings.count, customer_followings_path(@customer), class: "pl-3"  %>
    </div>
    <div class="d-flex col-md-2">
      <h5>フォロワー</h5>
      <%= link_to @customer.followers.count, customer_followers_path(@customer), class: "pl-3" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <h3 class="col-md-2">投稿レシピ</h3>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <% @recipes.each do |recipe| %>
        <div class="row border mt-5">
          <div class="col-md-9">
            <div class="row pt-2">
              <div class="col-md-3 pl-2 pr-0">
                <p>投稿日   <%= recipe.created_at.strftime('%Y/%m/%d') %></p>
              </div>
              <div class="col-md-2 p-0">
                <i class="fa-regular fa-clock"></i>
                <%= recipe.cooking_time %>分
              </div>
              <div class="col-md-4 p-0 d-flex">
                <p>難易度</p>
                <div id="difficulty_<%= recipe.id %>"></div>
                <script>
                  $(document).on('turbolinks:load', function() {
                    let elem = document.querySelector('#difficulty_<%= recipe.id %>');
                    if (elem == null) return;

                    elem.innerHTML = "";
                    let opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      score: "<%= recipe.difficulty %>",
                      readOnly: true,
                    };
                    raty(elem, opt);
                  });
                </script>
              </div>
              <div class="col-md-2 ml-auto p-0 text-right">
                ❤️<%= recipe.likes.count %>いいね
              </div>
            </div>
            <div class="row">
              <%= link_to recipe.customer.name, customer_path(recipe.customer.id), class: "ml-4" %>
            </div>
            <div class="row pt-2">
              <div class="col-1"></div>
              <%= link_to recipe.dish_name, recipe_path(recipe.id), class: "h4" %>
            </div>
            <div class="row pt-3">
              <div class="col-1"></div>
              <div class="col-11 border"><%= recipe.explanation %></div>
            </div>
          </div>
          <div class="col-md-3">
            <% if recipe.image %>
              <%= image_tag recipe.image, size: "200x200" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate(@recipes) %>


  <% if @like_list.present? %>
    <% @like_list.each do |recipe| %>
      <%= recipe.dish_name %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-4"></div>
    <% if current_customer.id == @customer.id %>
      <%= link_to "いいね履歴へ", likes_customers_path, class: "mr-5 mt-5" %>
      <%= link_to "下書き一覧へ", draft_path, class: "mt-5" %>
  <% end %>
  </div>
</div>
