<script src="https://kit.fontawesome.com/9c11671e7c.js" crossorigin="anonymous"></script>
<h3>New Recipe</h3>
<%= form_with model: @recipe,url: recipes_path, method: :post do |f| %>
  <h4>料理名</h4>
  <%= f.text_field :dish_name %>

  <h4>料理写真</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>調理時間</h4>
  <%= f.text_field :cooking_time %>分

  <% if @recipe.id.nil? %>
    <div class="form-group" id="difficulty">
      <h4>調理難易度</h4>
      <%= f.hidden_field :difficulty, id: :difficulty, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;
        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          scoreName: 'recipe[difficulty]',
        };
        raty(elem, opt);
      });
    </script>
  <% else %>
    <div class="form-group">
      <%= render "static_rate", recipe: recipe %>
    </div>
  <% end %>
  <h4>料理ジャンル</h4>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
  <h4>料理説明</h4>
  <%= f.text_area :explanation %>
  <div id="details-field-template" style="display: none;">
    <%= f.fields_for :ingredient, RecipeDetail.new, child_index: "new_recipe_details" do |recipe_detail_field| %>
      <%= render 'details_field', f: recipe_detail_field %>
    <% end %>
  </div>
  <%= f.fields_for :recipe_details do |recipe_detail_field| %>
    <%= render 'details_field', f: recipe_detail_field %>
  <% end %>
  <div id="details"></div>
  <div>
    <button type="button" id="add-detail" class="btn mb-4"  style="background-color: #FFD5EC;">材料を追加</button>
  </div>
  <div id="steps-field-template" style="display: none;">
    <%= f.fields_for :recipe_steps, RecipeStep.new, child_index: "new_recipe_step" do |recipe_step_field| %>
      <%= render 'steps_field', f: recipe_step_field %>
    <% end %>
  </div>
  <%= f.fields_for :recipe_steps do |recipe_step_field| %>
    <%= render 'steps_field', f: recipe_step_field %>
  <% end %>
  <div id="recipe_steps"></div>
  <div>
    <button type="button" id="add-recipe_step" class="btn"  style="background-color: #FFD5EC;">作り方を追加</button>
  </div>
  <script data-turbolinks-eval="false">
   $(document).on('turbolinks:load', function() {
      const add_detail_script = () => {
          var content = document.getElementById("details-field-template").innerHTML;
          var uniqueId = new Date().getTime();
          content = content.replace(/new_ingredient/g, uniqueId);
          document.getElementById("details").insertAdjacentHTML('beforeend', content);
      }
      document.getElementById("add-detail").addEventListener("click", add_detail_script);
      document.querySelector('#add-recipe_step').addEventListener('click', () => {
        let content = document.getElementById('steps-field-template').innerHTML;
        let uniqueId = new Date().getTime();
        content = content.replace(/new_recipe_step/g, uniqueId);
        document.getElementById('recipe_steps').insertAdjacentHTML('beforeend', content);
      });
   });
  </script>
  <%= f.submit 'レシピ投稿' %>
<% end %>