<script src="https://kit.fontawesome.com/9c11671e7c.js" crossorigin="anonymous"></script>
<h4>投稿日</h4>
<%= @recipe.created_at.strftime('%Y/%m/%d') %>
<h4>調理時間</h4>
<i class="fa-regular fa-clock"></i>
<%= @recipe.cooking_time %>分
<h4>難易度</h4>
<div id="difficulty_<%= @recipe.id %>"></div>
<script>
  $(document).on('turbolinks:load', function() {
    let elem = document.querySelector('#difficulty_<%= @recipe.id %>');
    if (elem == null) return;

    elem.innerHTML = "";
    let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: "<%= @recipe.difficulty %>",
      readOnly: true,
    };
    raty(elem, opt);
  });
</script>
<% if @recipe.liked_by?(current_customer) %>
  <p>
    <%= link_to recipe_like_path(@recipe), method: :delete do %>
      ♥<%= @recipe.likes.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to recipe_like_path(@recipe), method: :post do %>
      ♡<%= @recipe.likes.count %> いいね
    <% end %>
  </p>
<% end %>
<%= @recipe.customer.name %>
<%= @recipe.dish_name %>
<%= image_tag @recipe.image, size: "200x200" %>
<%= @recipe.explanation %>

<h3>材料</h3>
<% @recipe.recipe_details.each do |detail| %>
  <p><%= detail.ingredient %></p>
  <p><%= detail.quantity %></p>
<% end %>

<h3>作り方</h3>
<% @recipe.recipe_steps.each do |step| %>
  <p><%= step.cooking_process %></p>
  <% if step.image.attached? %>
    <%= image_tag step.image, size: "200x200" %>
  <% end %>
<% end %>


<p>コメント件数:<%= @recipe.comments.count %></p>
<% @recipe.comments.each do |comment| %>
  <%= comment.customer.name %>
  <%= comment.comment %>
  <% if comment.customer == current_customer %>
  <%= link_to "コメント削除", recipe_comment_path(comment.recipe, comment), method: :delete %>
<% end %>
<% end %>
<%= form_with model: [@recipe, @comment] do |f| %>
  <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力してください" %>
  <%= f.submit "コメント送信" %>
<% end %>
<% if @recipe.customer == current_customer %>
  <%= link_to "投稿を削除する", recipe_path(@recipe), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
<% end %>