<div class="container-fluid">
  <h1 class="d-flex justify-content-center pt-5">今日のイチオシレシピ</h1>
  <div class="d-flex">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="top-recipe justify-content-between flex-column">
          <div>
            <%= link_to recipe_path(recipe.id) do %>
              <%= image_tag recipe.image, size: "200x200" %>
            <% end %>
          </div>
          <div>
            <%= link_to recipe.dish_name, recipe_path(recipe.id) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="container-fluid col-2">
      <table class="table ">
          <tr>
            <th>ジャンル検索</th>
          </tr>
          <%= form_with url: genre_search_path, method: :get do |f| %>
              <% @genres.each do |genre| %>
                <tr>
                  <td><%= link_to genre.name, genre_search_path(genre_id: genre.id), method: :get %></td>
                </tr>
              <% end %>
          <% end %>
      </table>
    </div>
  </div>
  <%= link_to "すべての商品を見る＞", recipes_path %>
</div>